<br>
<div class="container card-purchase border">
  <div class="card-purchase-image py-5 rounded-lg">
    <%= cl_image_tag @item.photo, width: 396 %>
  </div>
  <div class="container card-purchase-info my-2">
    <h1>Purchase this <%= @item.name %>!</h1>
    <h3>Seller Description: <%= @item.description %></h3>
    <h3>Listed Price: £ <%= @item.price %></h3>
    <div class="card-purchase-payment">
      <p>Insert Stripe</p>
    </div>
  </div>
  <div id="card-purchase-button">
    <%= simple_form_for([@item, @purchase]) do |f| %>
    <%= f.submit "Go to checkout", class: "card-purchase-button btn btn-primary"%>
    <% end %>
  </div>
</div>


