<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)), url('<%= cl_image_path "nawkpmjpibkjpac1lsfy", crop: :fill %>')">
  <div class="container">

  <div class="row">
    <div class="col-sm">
      <h1>Accessories to make you stand out from the crowd</h1>
      <br>
      <%= link_to "Browse items", items_path, class: "btn btn-primary" %>
    </div>
    <div class="col">
    </div>
  </div>

  </div>
</div>
<br>

<div class="categories"></div>
<h3>Anklets</h3>
<div class="autoplay" style="display: flex;align-items: center;">
    <% @anklets.each do |item|  %>
      <div class="card-product-carousel">
        <%= cl_image_tag item.photo, crop: :pad, class:'carousel-img' %>
        <h1><%= link_to "£#{item.price}", item_path(item), class: "text"%></h1>
      </div>
    <% end %>
</div>

<br>

<h3>Earrings</h3>
<div class="autoplay" style="display: flex;align-items: center;">
    <% @earrings.each do |item|  %>
      <div class="card-product-carousel">
        <%= cl_image_tag item.photo, crop: :pad, class:'carousel-img' %>
            <h1><%= link_to "£#{item.price}", item_path(item) %></h1>
      </div>
    <% end %>
</div>

<br>

<h3>Necklaces</h3>
<div class="autoplay" style="display: flex;align-items: center;">
    <% @necklaces.each do |item|  %>
      <div class="card-product-carousel">
        <%= cl_image_tag item.photo, crop: :pad, class:'carousel-img' %>
            <h1><%= link_to "£#{item.price}", item_path(item) %></h1>
      </div>
    <% end %>
    <#% raise %>
</div>

<br>

<h3>Rings</h3>
<div class="autoplay" style="display: flex;align-items: center;">
    <% @rings.each do |item|  %>
      <div class="card-product-carousel">
        <%= cl_image_tag item.photo, crop: :pad, class:'carousel-img' %>
            <h1><%= link_to "£#{item.price}", item_path(item) %></h1>
      </div>
    <% end %>
</div>

<br>

<h3>Watches</h3>
<div class="autoplay" style="display: flex;align-items: center;">
    <% @watches.each do |item|  %>
      <div class="card-product-carousel">
        <%= cl_image_tag item.photo, crop: :pad, class:'carousel-img' %>
            <h1><%= link_to "£#{item.price}", item_path(item) %></h1>
      </div>
    <% end %>
</div>

<br>

<h3>Other</h3>
<div class="autoplay" style="display: flex;align-items: center;">
    <% @others.each do |item|  %>
      <div class="card-product-carousel">
        <%= cl_image_tag item.photo, crop: :pad, class:'carousel-img' %>
            <h1><%= link_to "£#{item.price}", item_path(item) %></h1>
      </div>
    <% end %>
</div>

<br>

<%= content_for(:after_js) do %>
  <%= javascript_pack_tag 'components/slick_carousel' %>
<% end %>
