<br>
<div class="container">
  <h3><%= @user.name %>, see your posted items below!</h3>
  <h6>You have posted <%= @user.items.count %> items</h6>
</div>

<% @items.each do |item| %>
  <div class="container card-posts">
    <div class="card-posts-image" style="background-image: url('<%= cl_image_path item.photo %>')">
    </div>
    <div class="card-posts-infos">
      <h1><%= item.name %></h1>
      <h2>£ <%= item.price %></h2>
    </div>
    <div class="card-posts-status m-3">
      <p>Date of post: <%= item.created_at.strftime("%d/%m/%Y at %I:%M%p") %></p>
      <p>sold</p>
    </div>
    <div class="d-flex flex-column">
      <%= link_to "Edit", edit_item_path(item), class: "btn btn-info m-3" %>

      <%= link_to "Delete", item_path(item), method: :delete, class: "btn btn-info m-3" %>
    </div>
  </div>
<% end %>
