<div class="form container">
  <%= simple_form_for(@item) do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :price %>
    <%= f.input :photo %>
    <%= f.input :category, collection: ['Anklets', 'Earrings', 'Necklaces', 'Rings', 'Watches', 'Other'] %>
    <%= f.input :gender, collection: ['Female', 'Male', 'Unisex'] %>
    <%= f.submit "Add Item", class: "btn btn-primary" %>
    <%= link_to "Back", items_path, class: "btn btn-primary" %>
  <% end %>
</div>

