<ul>
  <li><%= @item.name %></li>
  <li><%= @item.description %></li>
  <li><%= @item.price %></li>
  <li><%= cl_image_tag @item.photo, height: 300, width: 400, crop: :fill %></li>
</ul>
<%= link_to "Back", items_path, class: "btn btn-primary" %>
<%= link_to "Edit", edit_item_path, class: "btn btn-primary" %>
<%= link_to "Delete", item_path(@item), method: :delete, class: "btn btn-primary" %>


