<h5>Write a review for <%= @user.name %></h5>
<%= simple_form_for([@user, @review]) do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.submit "Add Review", class: "btn btn-primary" %>
<% end %>
